<div class="entregas-container">
  <button mat-raised-button (click)="addEntrega()">Adicionar Entrega</button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-top: 16px;">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.id}} </td>
    </ng-container>


    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef> Destino </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.destino}} </td>
    </ng-container>


    <ng-container matColumnDef="valorBase">
      <th mat-header-cell *matHeaderCellDef> Valor Base </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.valorBase | currency}} </td>
    </ng-container>


    <ng-container matColumnDef="dataEntrega">
      <th mat-header-cell *matHeaderCellDef> Data de Entrega </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.dataEntrega | date}} </td>
    </ng-container>


    <ng-container matColumnDef="caminhao">
      <th mat-header-cell *matHeaderCellDef> Caminhão </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.caminhao.id}} </td>
    </ng-container>


    <ng-container matColumnDef="motorista">
      <th mat-header-cell *matHeaderCellDef> Motorista </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.motorista.id}} </td>
    </ng-container>


    <ng-container matColumnDef="carga">
      <th mat-header-cell *matHeaderCellDef> Carga </th>
      <td mat-cell *matCellDef="let entrega"> {{entrega.carga.id}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let entrega">
        <button mat-icon-button color="accent" (click)="showEntrega(entrega.id)">
          <mat-icon style="color: white;">search</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editEntrega(entrega.id)">
          <mat-icon style="color: white;">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEntrega(entrega.id)">
          <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
